{% extends 'BloggerBlogBundle:User:layout.html.twig' %}
{% block title %}Панель пользователя{% endblock %}

{% block body %}
    <div class="center">
        <div class="page_info">
            <header>Панель пользователя, {{ app.user.username }}</header>
        </div>
    </div>

    <div class="center">
        <div id="buyer">
            <div id="buer_data">
                {% embed "@BloggerBlog/User/Buyer/form_user.html.twig" %}{% endembed %}
            </div>
            <div id="basket">
                <hr>
                <a href="#" class="btn_green">Заказать</a>
                <hr>
                {% set sum = 0 %}
                {% for book in books %}
                    {% set sum = sum + book.cost %}
                {% endfor %}
                <p>Сумма заказа: {{ sum }} рублей.</p>
                <hr>
                <p>Книги. Кол-во: {{ books|length }}</p>
                {% for book in books %}
                    <hr>
                    <div class="book">
                        <hr>
                        <div class="book_container">
                            <section class="book_img">
                                <img src="/img/books/{{ book.image }}" style="width: 50px;" alt="">
                            </section>
                            <div class="book_info_container">
                                <section class="book_info">
                                    <div class="book_info_item">
                                        <p class="name">Название:</p>
                                        <p class="info">{{ book.title }}</p>
                                    </div>
                                    <div class="book_info_item">
                                        <p class="name">Автор:</p>
                                        <p class="info">
                                            {% for autor in book.authors %}
                                                <a href="#">{{ autor.name }}</a>
                                            {% endfor %}
                                        </p>
                                    </div>
                                    <div class="book_info_item">
                                        <p class="name">Жанр:</p>
                                        <p class="info">
                                            {% for genre in book.genres %}
                                                <a href="#">{{ genre.title }}</a>
                                            {% endfor %}
                                        </p>
                                    </div>
                                    <div class="book_info_item">
                                        <p class="name">Цена:</p>
                                        <p class="info">{{ book.cost }}</p>
                                    </div>
                                    <div class="book_info_item">
                                        <p class="name">Количество страниц:</p>
                                        <p class="info">{{ book.countList }}</p>
                                    </div>
                                    <div class="book_info_item">
                                        <p class="name">Год издания:</p>
                                        <p class="info">{{ book.year }}</p>
                                    </div>
                                </section>
                                <a href="{{ path('buyer_delete_book', {'id_book': book.id}) }}" class="btn_green">Удалить из корзины</a>
                            </div>
                            <section class="book_description">
                                <h4>Описание книги</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim eius cum vitae perferendis dolorem repellendus, doloribus minima ratione dignissimos omnis.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae mollitia autem tempore distinctio cupiditate cum, consequatur corporis hic maiores nam sequi doloribus. Vel maxime, inventore exercitationem odit doloribus nostrum, repellat qui placeat repellendus eum ipsum!</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, expedita.</p>
                            </section>
                        </div>
                    {% endfor %}


                </div>
            </div>
        </div>
    </div>
{% endblock %}