{% extends 'base.html.twig' %}

{% block body %}
    <div class="container margin_top">
    <h1>Список пользователей</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Password</th>
                <th>Salt</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.username }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.salt }}</td>
                <td>
                    <ul>
                        <li>
                            <button class="button bwidth"><a href="{{ path('user_show', { 'id': user.id }) }}">Показать</a></button>
                        </li>
                        <li>
                            <button class="button bwidth"><a href="{{ path('user_edit', { 'id': user.id }) }}">Изменить</a><button>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <button class="button success"><a href="{{ path('user_new') }}">Создать пользователя</a></button>
        </li>
    </ul>
    </div>
{% endblock %}
